@model IEnumerable<SystemVendas.Models.Chamado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           OS:
        </th>
         <th>
            @Html.DisplayNameFor(model => model.empresas.NomeEmpresa)
        </th>
        <th>@Html.DisplayNameFor(model => model.empresas.Responsavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tecnicos.NomeDotecnico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdChamado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empresas.NomeEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empresas.Responsavel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tecnicos.NomeDotecnico)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdChamado }, new { @class = "btn btn-success" }) 
            @Html.ActionLink("Details", "Details", new { id=item.IdChamado }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id=item.IdChamado }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
